@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 1.5rem;
  min-width: 21.4375rem;
  max-width: 33.75rem;
  min-height: 19.6875rem;
  border-radius: 10px;

  background-color: $neutral-dark-grayish-blue;
  @include mobileBreakpoint {
    max-width: 21.4375rem;
  }
  @include desktopBreakpoint {
    width: 33.75rem;
    min-height: 20.75rem;
  }

  .title {
    margin-top: 2.5rem;

    font-size: 0.6875rem;
    font-weight: 800;
    color: $primary-neon-green;
    letter-spacing: 0.2162rem;
    line-height: 0.9394rem;

    @include desktopBreakpoint {
      font-size: 0.8125rem;
      letter-spacing: 0.2556rem;
      line-height: 1.11rem;
    }
  }
  .content {
    margin-top: 1.5rem;

    max-width: 27.75rem;

    font-size: 1.5rem;
    color: $primary-light-cyan;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.0163rem;
    line-height: 2.0488rem;

    @include desktopBreakpoint {
      font-size: 1.75rem;
      letter-spacing: -0.0187rem;
      line-height: 2.3906rem;
    }
  }
  .contentDivider {
    width: 100%;
    height: 1.25rem;
    margin-top: 1.5rem;

    background-image: url("../../assets/images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .buttonContainer {
    margin: 0 auto;
    position: absolute;
    bottom: -2rem;
  }
}
